<div class="text-2xl mb-2">Shopping cart</div>
<div class="flex flex-col lg:flex-row">
  <div class="flex-grow me-5 w-full">
    @if (cartQuery.isSuccess() && this.cart.length !== 0) {
      @for (item of cart; track item.publicId) {
        <div class="border-t border-gray-200"></div>
        <div class="flex items-center justify-between">
          <div class="p-4 flex">
            <img [src]="'data:' + item.picture.mimeType + ';base64,' + item.picture.file"
                 alt="{{item.name}}" width="110px" class="max-w-full lg:max-w-none me-5" />
            <div class="w-40">
              <a [routerLink]="['/product', item.publicId]">{{ item.name }}</a>
              <div class="text-sm">{{ item.brand }}</div>
              <div class="font-bold">{{ item.price | currency }}</div>
            </div>
          </div>
          <div class="flex">
            <div class="w-32 flex justify-around items-center">
              <button class="btn btn-sm btn-outline-primary"
                      (click)="removeQuantityToCart(item.publicId, item.quantity)">-
              </button>
              <div>{{ item.quantity }}</div>
              <button class="btn btn-sm btn-outline-primary"
                      (click)="addQuantityToCart(item.publicId)">+
              </button>
            </div>
            <div class="ms-5 btn btn-error btn-outline"
                 (click)="removeItem(item.publicId)">
              Remove
            </div>
          </div>
        </div>
      }
    } @else if (cartQuery.isPending()) {
      <div class="flex w-full justify-center">
        <span class="loading loading-spinner loading-lg"></span>
      </div>
    } @else if (checkIfEmptyCart()) {
      <div class="flex flex-col items-center justify-center h-60">
        <div class="font-bold text-2xl">No items in cart</div>
        <div>Add some items to your cart</div>
      </div>
    }
  </div>
  <div class="bg-gray-100 border-gray-400 p-5 w-full lg:w-96 h-72 mt-6 lg:mt-0 rounded-md">
    <div class="font-bold">Order Summary</div>
    <div class="border-t border-gray-300 my-5"></div>
    <div class="flex justify-between">
      <div>Delivery</div>
      <div>{{ 0 | currency }}</div>
    </div>
    <div class="border-t border-gray-300 my-5"></div>
    <div class="flex justify-between font-bold">
      <div>Total</div>
      <div>{{ computeTotal() | currency }}</div>
    </div>
    <div class="border-t border-gray-300 my-5"></div>
    <button class="btn btn-primary w-full"
            [disabled]="cartQuery.isSuccess() && cartQuery.data()!.products.length === 0"
            (click)="checkout()">
      {{ labelCheckout }}
    </button>
  </div>
</div>
