<footer class="footer bg-secondary border-2 border-t text-base-content p-10">
  <nav>
    <h6 class="footer-title">Help</h6>
    <a href="#" class="link link-hover">Shipping</a>
    <a href="#" class="link link-hover">Returns + Exchanges</a>
    <a href="#" class="link link-hover">FAQ</a>
    <a href="#" class="link link-hover">Compare</a>
  </nav>
  <nav>
    <h6 class="footer-title">Company</h6>
    <a href="#" class="link link-hover">About us</a>
    <a href="#" class="link link-hover">Contact</a>
    <a href="#" class="link link-hover">Jobs</a>
    <a href="#" class="link link-hover">Press kit</a>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a href="#" class="link link-hover">Terms of use</a>
    <a href="#" class="link link-hover">Privacy policy</a>
    <a href="#" class="link link-hover">Cookie policy</a>
  </nav>
</footer>
<footer class="footer bg-secondary text-base-content px-10 py-4">
  <aside class="grid-flow-col items-center">
    <fa-icon class="pe-3" [icon]="['fas', 'truck-fast']" size="3x"></fa-icon>
    <p>
      CodeCake Ltd.
      <br/>
      Providing Ecommerce solutions
    </p>
  </aside>
  <nav class="md:place-self-center md:justify-self-end">
    <div class="grid grid-flow-col gap-4">
      <a href="#" aria-label="Twitter shop">
        <fa-icon [icon]="['fab', 'twitter']" size="2x"></fa-icon>
      </a>
      <a href="#" aria-label="Youtube shop">
        <fa-icon [icon]="['fab', 'youtube']" size="2x"></fa-icon>
      </a>
      <a href="#" aria-label="Facebook shop">
        <fa-icon [icon]="['fab', 'facebook']" size="2x"></fa-icon>
      </a>
    </div>
  </nav>
</footer>
