<div class="w-full flex justify-between items-center">
  <div>
    <h1 class="text-2xl font-bold">Products</h1>
    <div>Add and delete products</div>
  </div>
  <div>
    <button class="btn btn-primary me-5" routerLink="/admin/products/create">
      Create products
    </button>
    <button class="btn btn-primary" routerLink="/admin/categories/create">
      Create categories
    </button>
  </div>
</div>
<div class="border-t w-full border-solid border-gray-300 mt-3 mb-5"></div>
@if (productsQuery.isSuccess() && productsQuery.data()!.content.length !== 0) {
  <div class="overflow-x-auto border border-gray-300 rounded-md">
    <table class="table table-lg table-zebra">
      <thead class="border-gray-300">
      <tr class="border-gray-300">
        <th></th>
        <th class="min-w-40">Name</th>
        <th>Brand</th>
        <th>Color</th>
        <th>Price</th>
        <th>Nb in stock</th>
        <th>Featured</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody class="border-0">
        @for (product of productsQuery.data()!.content; track product.publicId; let i = $index) {
          <tr class="border-gray-300">
            <th>{{ i }}</th>
            <td class="max-w-20 overflow-ellipsis whitespace-nowrap overflow-hidden">
              <a class="link" [routerLink]="['/product', product.publicId]">{{product.name}}</a>
            </td>
            <td>{{product.brand}}</td>
            <td>
              <div class="h-5 w-5 rounded-full" [ngStyle]="{'background-color': product.color}"></div>
            </td>
            <td>{{product.price}}</td>
            <td>{{product.nbInStock}}</td>
            <td>{{product.featured}}</td>
            <td>{{product.category.name}}</td>
            <td>
              <div (click)="deleteProduct(product.publicId!)" class="btn btn-secondary btn-sm">
                Delete
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
} @else if (productsQuery.isPending()) {
  <div class="flex w-full justify-center">
    <span class="loading loading-spinner loading-lg"></span>
  </div>
} @else if (productsQuery.isError()) {
  <div class="alert alert-error">
    <span>Error! Failed to load products.</span>
  </div>
} @else if(productsQuery.data()!.content.length === 0) {
  <div role="alert" class="alert alert-info">
    <fa-icon [icon]="['fas', 'circle-exclamation']" size="2x"></fa-icon>
    <span>No product created yet.</span>
  </div>
}

